<?xml version="1.0" encoding="UTF-8"?>

<!-- 日志配置 -->
<configuration>
	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern><![CDATA[
			%date{yyyy-MM-dd HH:mm:ss.SSS}[%level][%L][%thread]-%logger{10}-%msg%n
			]]></pattern>
		</layout>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/pay.log</File>
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/config-server.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>360</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>300MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
			<![CDATA[
			%date{yyyy-MM-dd HH:mm:ss.SSS}[%level][%L][%thread]%X{remoteIp}-%logger{10}-%msg%n
			]]>
			</pattern>
		</layout>
	</appender>

	<root>
		<level value="debug" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="FILE"/>
	</root>
</configuration>